{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update cake details</title>
</head>
<body>
{% block content %}
    <div class="main" style="margin-top: 120px;margin-bottom: 50px;">
        <div class="container">
            <div class="formdiv" style="display: flex;align-items: center;justify-content: center;">
                <form class="updateform" method="post" style="display: grid;">
                    {% csrf_token %}
                    {% for field in form %}
                        <label>{{ field.label_tag }}</label>
                        {{ field }}
                    {% endfor %}
                    <button class="btn btn-success mt-2" type="submit">update</button>
                </form>
            </div>

        </div>
    </div>

{% endblock %}
</body>
</html>