# Default ignored files
/../../../../:PycharmProjects/cake_ordering_system_Mpesa/.idea/shelf/
/../../../../:PycharmProjects/cake_ordering_system_Mpesa/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:PycharmProjects/cake_ordering_system_Mpesa/.idea/dataSources/
/../../../../:PycharmProjects/cake_ordering_system_Mpesa/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../:PycharmProjects/cake_ordering_system_Mpesa/.idea/httpRequests/
